name: ci

on:
  pull_request:
    branches: [master]

jobs:
  compile:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      
      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      
      - name: Bootstrap poetry
        run: |
          curl -sSL https://install.python-poetry.org | python - -y --version 1.5.1
      
      - name: Install dependencies
        run: poetry install
      
      - name: Compile
        run: poetry run mypy .

  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      
      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: 3.8
      
      - name: Bootstrap poetry
        run: |
          curl -sSL https://install.python-poetry.org | python - -y --version 1.5.1
      
      - name: Install dependencies
        run: poetry install
      
      - name: Test
        run: poetry run pytest -rP .
        env:
          BASISTHEORY_API_KEY: ${{ secrets.BASISTHEORY_API_KEY }}
          ADYEN_API_KEY: ${{ secrets.ADYEN_API_KEY }}
          ADYEN_MERCHANT_ACCOUNT: BasisTheoryECOM
          CHECKOUT_PRIVATE_KEY: ${{ secrets.CHECKOUT_PRIVATE_KEY }}
          CHECKOUT_PROCESSING_CHANNEL: pc_svyx45xvauduraq2ckb2gwnvzq